body {
	padding:0;
	margin:0;
	width:100%;
	height:100%;
	-webkit-transition: background .25s ease;
	-moz-transition: background .25s ease;
	-ms-transition: background .25s ease;
	-o-transition: background .25s ease;
	transition: background .25s ease;
}


body.negative {
	background:#000;
}

body.positive {
	background:#fff;
}

svg {
	padding:0;
	margin: 0;
}




#loading {
	position: absolute;
	top:50%;
	left:50%;
	width: 50px;
	height: 50px;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	
}


.spinner {
	position: absolute;
	left: 1px;
	top: 1px;
	width: 45px;
	height: 45px;

	-webkit-animation: spin 1s infinite linear;
	-moz-animation: spin 1s infinite linear;
	-o-animation: spin 1s infinite linear;
	animation: spin 1s infinite linear;
}

.mask {
	width: 20px;
	height: 20px;
	overflow: hidden;
}

.maskedCircle {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	border: 5px solid #666;
	-webkit-animation: colorcycle 5s infinite linear;
	-moz-animation: colorcycle 5s infinite linear;
	-o-animation: colorcycle 5s infinite linear;
	animation: colorcycle 5s infinite linear;
}

@-webkit-keyframes colorcycle {

0% {border-color:hsl(0, 91%, 75%);}
25% {border-color:hsl(90, 91%, 75%);}
50% {border-color:hsl(180, 91%, 75%);}
75% {border-color:hsl(270, 91%, 75%);}

}

@-moz-keyframes colorcycle {
0% {border-color:hsl(0, 91%, 75%);}
25% {border-color:hsl(90, 91%, 75%);}
50% {border-color:hsl(180, 91%, 75%);}
75% {border-color:hsl(270, 91%, 75%);}
}

@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes spin {
	from { -ms-transform: rotate(0deg); }
	to { -ms-transform: rotate(360deg); }
}



/* dat gui styles */

.dg .cr.string,
.dg .cr.boolean,
.dg .cr.number,
.dg .cr.function {
    border-left: none;
}

.cr div[disabled] {
	/*opacity:.1;*/
	/*pointer-events:none;*/
}
@media print {
	.dg {
		display:none;
	}
}