@font-face {
  font-family: Benton;
  src: url("./fonts/BentonSans Cond Medium.otf") format("opentype");
}

@font-face {
  font-family: Benton;
  font-weight: bold;
  src: url("./fonts/BentonSans Cond Bold.otf") format("opentype");
}

body * {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: "Benton";
  position: relative;
}

main p {
  user-select: none;
}
.App {
  width: 100vw;
  height: 100vh;
  position: fixed;
  transition: background 0.7s ease;
}

.wrapper {
  overflow: hidden;
  display: flex;
  width: 100vw;
  height: 90vh;
  position: fixed;
}

h2,
h3 {
  text-align: left;
}

.textBtn {
  cursor: pointer;
  display: block;
  background: none;
  text-align: left;
  border: none;
  outline: none;
  font-size: 18px;
  width: 90px;
  margin: 10px 0;
  user-select: none;
}
.textBtn span.active {
  background: rgba(0, 0, 0, 0.2);
  padding: 5px 8px;
}

.btnList {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.container {
  margin: 0 auto;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.prevNext {
  display: flex;
  justify-content: space-between;
}

main {
  text-align: center;
  padding: 0 45px;
}

footer {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 2vh;
}

footer button {
  font-family: "Benton";
  cursor: pointer;
  outline: none;
  user-select: none;
  border-radius: 5px;
  transition: transform 0.2s ease-out;
}

footer button:active {
  transform: scale(0.9);
}

.prevNextBtn {
  border: none;
  background: black;
  color: white;
  font-size: 20px;
  padding: 8px 10px;
}

.bigBtn {
  display: inline-block;
  background: black;
  color: white;
  font-size: 40px;
  padding: 8px 20px;
  border: none;
  border-radius: 10px;
  width: 250px;
  padding-top: 15px;
}

.rimescola {
  background: white;
  color: black;
}

.finalBtns {
  margin: 50px 0;
}

.finalBtns button {
  margin: 30px auto;
  display: block;
}

.navigation {
  margin: 20px auto;
  width: 90vw;
  text-align: center;
}

.baseDiv {
  overflow-y: auto;
}

.baseDiv h3 {
  margin-bottom: 10px;
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
}

.spinner {
  position: absolute;
  left: 1px;
  top: 1px;
  width: 45px;
  height: 45px;
  animation: spin 0.5s infinite linear;
}

.mask {
  width: 20px;
  height: 20px;
  overflow: hidden;
}

.maskedCircle {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 5px solid #666;
  animation: colorcycle 5s infinite linear;
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  transition: transform 0.7s ease;
}

@media only screen and (min-width: 600px) {
  .container,
  .navigation {
    width: 800px;
  }

  .prevNext {
    padding-bottom: 0px;
  }

  .prevNextBtn {
    margin-bottom: 20px;
  }

  main {
    margin-top: 120px;
    padding: 0 160px;
  }
}

@keyframes colorcycle {
  0% {
    border-color: hsl(0, 91%, 75%);
  }
  25% {
    border-color: hsl(90, 91%, 75%);
  }
  50% {
    border-color: hsl(180, 91%, 75%);
  }
  75% {
    border-color: hsl(270, 91%, 75%);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
